* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* -----home page----- */
.index-body {
    background: #080808;
    color: #fff;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 10px 10%;
}

.page-header__nav {

}

.page-header__list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-header__item {
    display: inline-block;
    margin: 15px 25px;
}

.page-header__link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.page-header__link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #DAA520;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.page-header__link:hover::after {
    width: 100%;
}

.index-main {
    padding-top: 20%;
    background-image: url("background.png");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: bottom right;
    flex-grow: 1;
}

.main-text {

}

.main-text__profession {

}

.main-text__title {
    font-size: 60px;
    margin-top: 20px;
}

.main-quote {
    font-size: 18px;
}

.main-quote__text {

}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding-top: 20px;
}

.page-footer__links {
    display: flex;
    justify-content: center;
}

.page-footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-footer__item {
    display: inline;
    margin: 0 10px;
}

.page-footer__link {
    color: #DAA520;
    text-decoration: none;
}

.page-footer__link:hover {
    color: #B8860B;
}

.page-footer__copyright {

}

.page-footer__copyright-text {
    color: #DAA520;
    text-decoration: none;
}



/* -----portfolio page----- */

.portfolio-body {
    background: #080808;
    color: #fff;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.portfolio {
    flex-grow: 1;
}

.portfolio__heading {
    font-size: 28px;
    padding: 10px;
    text-align: center;
}

.my-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 10px;
}

.my-projects__item {
    font-size: 18px;
    padding: 55px;
    border: 1px solid #333;
}

.project {

}

.project__title {
    margin-bottom: 10px;
}

.project__description {
    margin-bottom: 15px;
}

.project__link {
    color: #DAA520;
    text-decoration: underline;
}

.project__link:hover {
    color: #B8860B;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .index-main {
        background-image: none;
    }

    .my-projects {
        grid-template-columns: repeat(2, 1fr);
    }
}